@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,400;0,700;1,400&display=swap');
@mixin heading-text {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.5rem;
}
@mixin subheading-text {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    font-size: 1.25rem;
}
@mixin body-text {
    font-family: 'Libre Baskerville', serif;
    font-size: 1rem;
    color: $darkfont;
}
$lightbg: #BABEBF;
$medbg: #627173;
$darkbg: #4A5859;
$darkfont: #1B2626;
$lightfont: #D9D9D9;
* {
    margin: 0;
    box-sizing:border-box;
}
body {
    @include body-text;
    background-color: $lightbg;
}
header {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background-color: $darkbg;
    color: $lightfont;
    a {
        text-decoration: none;
        color: $lightfont;
    }
    a:hover {
        font-style: italic;
    }
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    h2 {
        @include subheading-text;
        text-align: center;
        color: $lightfont;
        text-shadow: $darkfont 1px 1px;
        margin-bottom: 0.5rem;
    }
    p {
        @include body-text;
        text-align: center;
        color: $lightfont;
        text-shadow: $darkfont 1px 1px;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("../../docs/underconstruction.jpg");
        filter: grayscale(100%);
        background-color: $darkbg;
        height: 30vh;
        max-height: 15rem;
        width: 90vw;
        max-width: 30rem;
        padding: 1rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 1rem;
    }
}
footer {
    height: 10vh;
    @include body-text;
    display: flex;
    flex-direction: row-reverse;
    margin: 1rem;
    #button {
        padding: 0.5rem;
        background-color: $medbg;
        color: $lightfont;
        position: absolute;
        max-height: fit-content;
    }
    #contact {
        display: none;
        padding: 1rem 0rem 0rem 0rem;
        a {
        color: $lightfont;
        text-decoration: none;
        }
    }
}
